.scroll-perso
    &::-webkit-scrollbar
        -webkit-appearance: none
        appearance: none
        width: 2px
        height: auto
        position: absolute
        opacity: 0

    &::-webkit-scrollbar-track
        transition: background-color 0.2s ease-in-out, all 0.2s ease-in-out
        background-color: hsl(var(--sidebar-background))

    &::-webkit-scrollbar-thumb
        background-color: hsl(var(--sidebar-ring))
        border-radius: 1rem

.container-list
    @apply mt-4 grid flex-1 w-full overflow-y-scroll grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 grid-rows-none gap-4 max-h-[calc(100vh-11rem)] pb-4 pr-1 scroll-perso
